<!--
Manages user accounts
-->

<ion-view view-title="Login" name="login-view">
	<ion-nav-bar class="bar bar-header bar-positive"> </ion-nav-bar>

	<ion-content class="padding">

		<!--<div style="margin-top: 64px; text-align: center;" ng-click="go()">
			<img src="img/openheart_1.png" style="max-width: 30%; max-height: 400px;"> </img>
			<h3 style="padding-top: 3px; margin-top: 0px;">Open-Heart</h3>
			<h4 style="padding-top: 0px; margin-top: 0px;">Your cardiac rehabilitation coach</h4>
		</div>-->


		<div style="margin-top: 64px; text-align: center;">
			<h3 style="padding-top: 0px; margin-top: 0px;">Select an account</h3>
		</div>

		<ion-list>
			<ion-item ng-repeat="user in users" type="item-text-wrap">
				<center>
				<div class="row">
						<div class="col" ng-click="logWithAccount(user.id)"> <img src="img/{{user.photo}}" style="max-height: 75px;"> </img> </div>
						<div class="col" style="padding-top: 30px;" ng-click="logWithAccount(user.id)">
							<I><font font-face="Open Sans" size="6">{{user.name}}</font></I>
							<!-- <label class="item item-input">
								<span class="input-label">Password</span>
								<input type="password" placeholder="e.g. MyPassWd456321" ng-model="data.password"> </input>
							</label> -->
						</div>
						<div class="col ion-ios-close" style="padding-top: 30px; font-size: 30px;" ng-click="removeUser(user.id, user.name)"> </div>
				</div>
			</center>
			</ion-item>
		</ion-list>

		<div style="padding-top: 30px;">
			<center>
				<button class="button icon icon-left ion-person-add button-positive" ng-click="createAccount()">Create an account!</button>
			</center>
		</div>

		<!--
		<div class="list list-inset">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text" placeholder="e.g. j_doe" ng-model="data.username"> </input>
			</label>

			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password" placeholder="e.g. MyPassWd456321" ng-model="data.password"> </input>
			</label>

			<ion-checkbox ng-model="data.remember" ng-checked="data.remember">Remember me</ion-checkbox>
		</div>
		
		<button class="button icon icon-left ion-log-in button-calm" ng-click="login()">Login to your account</button>
		<button class="button icon icon-left ion-person-add button-positive" ng-click="createAccount()">Create a new account!</button>
	-->

		<!--<button class="button button-block button-calm" ng-click="login()">Login to your account</button>-->
		<!--<button class="button button-block button-calm" ng-click="createAccount()">Create a new account!</button>-->


	</ion-content>
</ion-view>
