<ion-view view-title="Liberty mode">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">
        <div class="" style="font-size: 90px; text-align: center; padding: 16px; color: {{ pulseDisplay.pulseFgCol }} ">
          {{ pulse }}
        </div>
      </div>
      <div class="item item-divider" style="text-align: center; background-color:{{pulseDisplay.bgcol}}; color:{{pulseDisplay.fgcol}}; font-weight: {{ pulseDisplay.weight }}">
        <span>{{ pulseDisplay.message }}</span>
      </div>
    </div>

    <div id="container" style="min-width: 310px; height: 250px; margin: 0 auto"></div>

  </ion-content>
</ion-view>
